{# @var this \PatternSeek\ECommerce\Address #}
{# @var exec \PatternSeek\ComponentView\ExecHelper #}
{# @var state \PatternSeek\ECommerce\ViewState\AddressState #}
<div class="address" id="component-{{ this.handle }}">
    <fieldset>
        <legend>{{ state.trans.billing_address }}</legend>

        {% if this.flashMessage %}
            <strong class="message">{{ this.flashMessage }}</strong>
            <br>
        {% endif %}
        {% if this.flashError %}
            <strong class="error">{{ this.flashError }}</strong>
            <br>
        {% endif %}

{% if state.mode == 'view' %}
    {% set formBody %}
        <label for="addressLine1">
            {{ state.trans.address_line_1 }}
        </label>
        {{ state.addressLine1 }}
        <br>
        <label for="addressLine2">
            {{ state.trans.address_line_2 }}
        </label>
        {{ state.addressLine2 }}
        <br>

        <label for="townOrCity">
            {{ state.trans.town_or_city }}
        </label>
        {{ state.townOrCity }}
        <br>
        <label for="stateOrRegion">
            {{ state.trans.state_or_region }}
        </label>
        {{ state.stateOrRegion }}
        <br>
        <label for="postCode">
            {{ state.trans.postcode }}
        </label>
        {{ state.postCode }}
        <br>
        <label for="countryCode">
            {{ state.trans.country }}
        </label>
        {{ state.countryString }}
        <br>
        <input type="submit" value="{{ state.trans.edit_address }}" class="editAddress">
    {% endset %}
    {{ exec.replaceElementUsingForm( "editMode", "POST", formBody, "component-basket", "addressEdit" ) }}

{% else %}
    {% set formBody %}
        <label for="addressLine1" class="{{ state.requiredFields['addressLine1']?'required':'' }}">
            {{ state.trans.address_line_1 }}
        </label>
        <input type="text"
               name="addressLine1"
               value="{{ state.addressLine1 }}"
               class="{{ state.requiredFields['addressLine1']?'required':'' }}">
        <br>
        <label for="addressLine2" class="{{ state.requiredFields['addressLine2']?'required':'' }}">
            {{ state.trans.address_line_2 }}
        </label>
        <input type="text"
               name="addressLine2"
               value="{{ state.addressLine2 }}"
               class="{{ state.requiredFields['addressLine2']?'required':'' }}">
        <br>
        <label for="townOrCity" class="{{ state.requiredFields['townOrCity']?'required':'' }}">
            {{ state.trans.town_or_city }}
        </label>
        <input type="text" name="townOrCity"
               value="{{ state.townOrCity }}"
               class="{{ state.requiredFields['townOrCity']?'required':'' }}">
        <br>
        <label for="stateOrRegion" class="{{ state.requiredFields['stateOrRegion']?'required':'' }}">
            {{ state.trans.state_or_region }}
        </label>
        <input type="text"
               name="stateOrRegion"
               value="{{ state.stateOrRegion }}"
               class="{{ state.requiredFields['stateOrRegion']?'required':'' }}">
        <br>
        <label for="postCode" class="{{ state.requiredFields['postCode']?'required':'' }}">
            {{ state.trans.postcode }}
        </label>
        <input type="text"
               name="postCode"
               value="{{ state.postCode }}"
               class="{{ state.requiredFields['postCode']?'required':'' }}">
        <br>
        <label for="countryCode" class="{{ state.requiredFields['countryCode']?'required':'' }}">
            {{ state.trans.country }}
        </label>
        <select name="countryCode"
                class="{{ state.requiredFields['countryCode']?'required':'' }}">
            <option value="">{{ state.trans.select }}</option>
            {% for code,country in state.trans.countriesByISO %}
                <option
                        value="{{ code|lower }}"
                        {% if code == state.countryCode %}
                            selected="selected"
                        {% endif %}
                        >
                    {{ country }}
                </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="{{ state.trans.continue }}" class="updateAddress">
    {% endset %}
    {{ exec.replaceElementUsingForm( "setAddress", "POST", formBody, "component-basket", "addressUpdate" ) }}
{% endif %}
    </fieldset>
</div>
