<div class="address" id="component-{{ this.handle }}">
    <fieldset>
        <legend>Billing address</legend>

        {% if this.flashMessage %}
            <strong class="message">{{ this.flashMessage }}</strong>
            <br>
        {% endif %}
        {% if this.flashError %}
            <strong class="error">{{ this.flashError }}</strong>
            <br>
        {% endif %}

{% if state.mode == 'view' %}
    {% set formBody %}
        <label for="addressLine1">
            Address line 1
        </label>
        {{ state.addressLine1 }}
        <br>
        <label for="addressLine2">
            Address line 2
        </label>
        {{ state.addressLine2 }}
        <br>

        <label for="townOrCity">
            Town or city
        </label>
        {{ state.townOrCity }}
        <br>
        <label for="stateOrRegion">
            State or region
        </label>
        {{ state.stateOrRegion }}
        <br>
        <label for="postCode">
            Postcode
        </label>
        {{ state.postCode }}
        <br>
        <label for="countryCode">
            Country
        </label>
        {{ state.countryString }}
        <br>
        <input type="submit" value="Edit address" class="editAddress">
    {% endset %}
    {#{ exec.replaceElementUsingLink( 'editMode', [], "component-"~ this.handle , "Edit address" ) }#}
    {{ exec.replaceElementUsingForm( "editMode", "POST", formBody, "component-basket", "addressEdit" ) }}

{% else %}
    {% set formBody %}
        <label for="addressLine1" class="{{ state.requiredFields['addressLine1']?'required':'' }}">
            Address line 1
        </label>
        <input type="text"
               name="addressLine1"
               value="{{ state.addressLine1 }}"
               class="{{ state.requiredFields['addressLine1']?'required':'' }}">
        <br>
        <label for="addressLine2" class="{{ state.requiredFields['addressLine2']?'required':'' }}">
            Address line 2
        </label>
        <input type="text"
               name="addressLine2"
               value="{{ state.addressLine2 }}"
               class="{{ state.requiredFields['addressLine2']?'required':'' }}">
        <br>
        <label for="townOrCity" class="{{ state.requiredFields['townOrCity']?'required':'' }}">
            Town or city
        </label>
        <input type="text" name="townOrCity"
               value="{{ state.townOrCity }}"
               class="{{ state.requiredFields['townOrCity']?'required':'' }}">
        <br>
        <label for="stateOrRegion" class="{{ state.requiredFields['stateOrRegion']?'required':'' }}">
            State or region
        </label>
        <input type="text"
               name="stateOrRegion"
               value="{{ state.stateOrRegion }}"
               class="{{ state.requiredFields['stateOrRegion']?'required':'' }}">
        <br>
        <label for="postCode" class="{{ state.requiredFields['postCode']?'required':'' }}">
            Postcode
        </label>
        <input type="text"
               name="postCode"
               value="{{ state.postCode }}"
               class="{{ state.requiredFields['postCode']?'required':'' }}">
        <br>
        <label for="countryCode" class="{{ state.requiredFields['countryCode']?'required':'' }}">
            Country
        </label>
        <select name="countryCode"
                class="{{ state.requiredFields['countryCode']?'required':'' }}">
            <option value="">Select...</option>
            {% for code,country in this.getCountriesByISO() %}
                <option
                        value="{{ code|lower }}"
                        {% if code == state.countryCode %}
                            selected="selected"
                        {% endif %}
                        >
                    {{ country }}
                </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Update address" class="updateAddress">
    {% endset %}
    {{ exec.replaceElementUsingForm( "setAddress", "POST", formBody, "component-basket", "addressUpdate" ) }}
{% endif %}
    </fieldset>
</div>
