{% if state.mode == 'view' %}
    <h2>Billing address</h2>
    {% if state.addressLine1 %}
        {{ state.addressLine1 }}<br>
    {% endif %}

    {% if state.addressLine2 %}
        {{ state.addressLine2 }}<br>
    {% endif %}

    {% if state.townOrCity %}
    {{ state.townOrCity }}<br>
    {% endif %}

    {% if state.stateOrRegion %}
        {{ state.stateOrRegion }}<br>
    {% endif %}

    {% if state.postCode %}
        {{ state.postCode }}<br>
    {% endif %}

    {% if state.countryString %}
        {{ state.countryString }}
        <br><br>
    {% endif %}

    <a href="{{ this.exec.url( 'editMode' ) }}" class="edit">Edit address</a>

{% else %}
    {% set formBody %}
    <fieldset>
        <legend>Billing address</legend>

        <label for="addressLine1">
            Address line 1
        </label>
        <input type="text" name="addressLine1" value="{{ state.addressLine1 }}" class="required">

        <label for="addressLine2">
            Address line 2
        </label>
        <input type="text" name="addressLine2" value="{{ state.addressLine2 }}">

        <label for="townOrCity">
            Town or city
        </label>
        <input type="text" name="townOrCity" value="{{ state.townOrCity }}" class="required">

        <label for="stateOrRegion">
            State or region
        </label>
        <input type="text" name="stateOrRegion" value="{{ state.stateOrRegion }}">

        <label for="postCode">
            Postcode
        </label>
        <input type="text" name="postCode" value="{{ state.postCode }}">

        <label for="countryCode">
            Country
        </label>
        <select name="countryCode" class="required">
            {% for code,name in this.getCountriesByISO() %}
                <option
                        value="{{ code|lower }}"
                        {% if code|lower == state.countryCode %}
                            selected="selected"
                        {% endif %}
                        >
                    {{ country }}
                </option>
            {% endfor %}
        </select>
    </fieldset>

    <input type="submit" value="Update address">

    {% endset %}
    {{ this.exec.wrapForm( "setAddress", "POST", formBody ) }}
{% endif %}