<div class="address" id="component-{{ this.handle }}">
{% if state.mode == 'view' %}
    <h2>Billing address</h2>
    {% if state.addressLine1 %}
        {{ state.addressLine1 }}<br>
    {% endif %}

    {% if state.addressLine2 %}
        {{ state.addressLine2 }}<br>
    {% endif %}

    {% if state.townOrCity %}
    {{ state.townOrCity }}<br>
    {% endif %}

    {% if state.stateOrRegion %}
        {{ state.stateOrRegion }}<br>
    {% endif %}

    {% if state.postCode %}
        {{ state.postCode }}<br>
    {% endif %}

    {% if state.countryString %}
        {{ state.countryString }}
        <br><br>
    {% endif %}

    {{ this.exec.replaceElementUsingLink( 'editMode', [], "component-"~ this.handle , "Edit address" ) }}

{% else %}
    {% set formBody %}
    <fieldset>
        <legend>Billing address</legend>

        <label for="addressLine1">
            Address line 1
        </label>
        <input type="text"
               name="addressLine1"
               value="{{ state.addressLine1 }}"
               class="{{ state.requiredFields['addressLine1']?'required':'' }}">
        <br>
        <label for="addressLine2">
            Address line 2
        </label>
        <input type="text"
               name="addressLine2"
               value="{{ state.addressLine2 }}"
               class="{{ state.requiredFields['addressLine2']?'required':'' }}">
        <br>
        <label for="townOrCity">
            Town or city
        </label>
        <input type="text" name="townOrCity"
               value="{{ state.townOrCity }}"
               class="{{ state.requiredFields['townOrCity']?'required':'' }}">
        <br>
        <label for="stateOrRegion">
            State or region
        </label>
        <input type="text"
               name="stateOrRegion"
               value="{{ state.stateOrRegion }}"
               class="{{ state.requiredFields['stateOrRegion']?'required':'' }}">
        <br>
        <label for="postCode">
            Postcode
        </label>
        <input type="text"
               name="postCode"
               value="{{ state.postCode }}"
               class="{{ state.requiredFields['postCode']?'required':'' }}">
        <br>
        <label for="countryCode">
            Country
        </label>
        <select name="countryCode"
                class="{{ state.requiredFields['countryCode']?'required':'' }}">
            <option value="">Select...</option>
            {% for code,country in this.getCountriesByISO() %}
                <option
                        value="{{ code|lower }}"
                        {% if code == state.countryCode %}
                            selected="selected"
                        {% endif %}
                        >
                    {{ country }}
                </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Update address" class="updateAddress">
    </fieldset>

    {% endset %}
    {{ this.exec.replaceElementUsingForm( "setAddress", "POST", formBody, "component-basket", "addressUpdate" ) }}
{% endif %}
</div>