{% if this.flashMessage %}
    <strong>{{ this.flashMessage }}</strong>
    <br>
{% endif %}
{% if this.flashError %}
    <strong class="error">{{ this.flashError }}</strong>
    <br>
{% endif %}
{% if state.testMode %}
    <br><strong>TEST MODE</strong><br>
{% endif %}

{{ state.intro }}

{{ component( 'billingAddress' ) }}

<table class="basketTable">
    <thead>
    <th>Quantity</th>
    <th>Description</th>
    <th>Net per item</th>
    <th>VAT per item</th>
    </thead>
    <tbody>
    {% for lineItem in state.lineItems %}
        <tr>
            <td>{% if lineItem.quantity != null %}
                    {{ lineItem.quantity }}
                {% else %}
                    -
                {% endif %}</td>
            <td>{{ lineItem.description }}</td>
            <td>{{ lineItem.netPrice }}</td>
            <td style="text-wrap: none;">
                {{ lineItem.vatPerItem }}
                {% if lineItem.isB2b %}
                    ( Zero rated )
                {% else %}
                    {% if lineItem.vatJurisdictionType == "local" %}
                        ( {{ state.config.countryCode|upper }} VAT )
                    {% else %}
                        ( {{ lineItem.remoteVatJusrisdictionCountryCode|upper }} VAT )
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    {% if not state.complete %}
        {% set validateFormBody %}
        <tr>
            <td>
                EU VAT number
            </td>
            <td colspan="3">
                {% if state.vatNumber %}
                    <strong>{{ state.vatNumber }}</strong>
                    <br>
                {% endif %}
                <input type="text" name="vatNumber" placeholder="EU VAT number">
                <select name="countryCode">
                    {% for cc,country in this.getVatCountries() %}
                        <option value="{{ cc }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Update">
            </td>
        </tr>
        {% endset %}
        {{ this.exec.wrapForm( "validateVatNumber", "POST", validateFormBody ) }}
    {% endif %}
    </tbody>

</table>
{% if not state.complete %}
    <div class="basketPaymentProviders">
        {% for provider in state.paymentProviderNames %}
            {{ component( provider ) }}
    {% endfor %}
    </div>
{% else %}
    <span class="error">This invoice has already been paid</span>
{% endif %}


{{ state.outro }}