{# @var this \PatternSeek\ECommerce\Basket #}
{# @var exec \PatternSeek\ComponentView\ExecHelper #}
{# @var state \PatternSeek\ECommerce\ViewState\BasketState #}
<div id="component-basket">
{% if state.successMessage %}
    {{ state.successMessage }}
{% else %}
    {{ state.intro }}
    
    {% if this.flashMessage %}
            <strong class="message">{{ this.flashMessage }}</strong>
        <br>
    {% endif %}
    {% if this.flashError %}
        <strong class="error">{{ this.flashError }}</strong>
        <br>
    {% endif %}
        {% if state.testMode %}
        <br><strong>TEST MODE</strong><br>
    {% endif %}
    
    <table class="basketTable">
        <thead>
        <th>{{ state.trans.quantity }}</th>
        <th>{{ state.trans.description }}</th>
        <th>{{ state.trans.net_per_item }}</th>
        <th>{{ state.trans.vat_per_item }}</th>
        </thead>
        <tbody>
        {% for lineItem in state.lineItems %}
            <tr>
                <td>{% if lineItem.quantity != null %}
                        {{ lineItem.quantity }}
                    {% else %}
                        -
                    {% endif %}</td>
                <td>{{ lineItem.description }}</td>
                <td>{{ state.config.currencySymbol }}{{ lineItem.netPrice|number_format(2) }}</td>
                <td style="text-wrap: none;" nowrap>
                    {{ state.config.currencySymbol }}{{ lineItem.vatPerItem|number_format(2) }}
                </td>
            </tr>
        {% endfor %}
            <tr class="topseparator">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>{{ state.trans.total_vat }}</strong></td>
                <td>{{ state.config.currencySymbol }}{{ state.vatTotal|number_format(2) }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>{{ state.trans.total }}</strong></td>
                <td>{{ state.config.currencySymbol }}{{ state.total|number_format(2) }}</td>
            </tr>
    
        {% if not state.complete %}
            <tr class="topseparator">
                <td colspan="4">
                    {% set validateFormBody %}
                    {% if state.vatNumber %}
                        <strong>{{ state.vatNumber }}</strong>
                        <br>
                    {% endif %}
                    <input type="text" name="vatNumber" placeholder="{{ state.trans.eu_vat_number }}">
                    <select name="countryCode">
                        {% for cc,country in this.getEUVatCountries() %}
                            <option value="{{ cc }}" {% if cc == state.config.countryCode|upper %}selected="selected"{% endif %}>{{ country }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{{ state.trans.update }}">
                        <br>
                        <small>{{ state.trans.for_vat_regged_company }}</small>
                    {% endset %}
                    {{ exec.replaceElementUsingForm( "validateVatNumber", "POST", validateFormBody, "component-basket", "vatNumberUpdate" ) }}
                    {# {{ exec.wrapForm( "validateVatNumber", "POST", validateFormBody, false, "vatNumberUpdate" ) }} #}
                </td>
            </tr>
        {% endif %}
        </tbody>
    
    
    </table>

    {{ this.renderChild('billingAddress') }}
        
        {% if ( state.readyForPaymentInfo() ) and (not state.complete) %}
            <div class="basketPaymentProviders">
                {% for providerConfig in state.config.paymentProviders %}
                    {{ this.renderChild( providerConfig.name ) }}
                {% endfor %}
            </div>
        {% elseif ( not state.readyForPaymentInfo() ) and (not state.complete) %}
            {# ... #}
        {% else %}
            <span class="error">{{ state.trans.this_transaction_has_been_completed }}</span>
        {% endif %}
        
        <br clear="both">
    
    {{ state.outro }}
{% endif %}
</div>
