<div id="component-basket">
{% if this.flashMessage %}
    <strong>{{ this.flashMessage }}</strong>
    <br>
{% endif %}
{% if this.flashError %}
    <strong class="error">{{ this.flashError }}</strong>
    <br>
{% endif %}
{% if state.testMode %}
    <br><strong>TEST MODE</strong><br>
{% endif %}

{{ state.intro }}

{{ component( 'billingAddress' ) }}

<table class="basketTable">
    <tbody>
    {% for lineItem in state.lineItems %}
        <tr>
            <td>{% if lineItem.quantity != null %}
                    {{ lineItem.quantity }}
                {% else %}
                    -
                {% endif %}</td>
            <td>{{ lineItem.description }}</td>
            <td>{{ state.config.currencySymbol }}{{ lineItem.netPrice|number_format(2) }}</td>
            <td style="text-wrap: none;" nowrap>
                {{ state.config.currencySymbol }}{{ lineItem.vatPerItem|number_format(2) }}
                {% if lineItem.isB2b %}
                    ( Zero rated )
                {% else %}
                    {% if lineItem.vatJurisdictionType == "local" %}
                        ( {{ state.config.countryCode|upper }} VAT )
                    {% else %}
                        {% set isEU = false %}
                        {% for cc,country in this.getVatCountries() %}
                            {% if lineItem.remoteVatJusrisdictionCountryCode == cc %}
                                {% set isEU = true %}
                            {% endif %}
                        {% endfor %}
                        {% if isEU %}
                            ( {{ lineItem.remoteVatJusrisdictionCountryCode|upper }} VAT )
                        {% else %}
                            ( Non EU )
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    {% if not state.complete %}
        <tr>
            <td>
                EU VAT number
            </td>
            <td colspan="3">
                {% set validateFormBody %}
                {% if state.vatNumber %}
                    <strong>{{ state.vatNumber }}</strong>
                    <br>
                {% endif %}
                <input type="text" name="vatNumber" placeholder="EU VAT number">
                <select name="countryCode">
                    {% for cc,country in this.getVatCountries() %}
                        <option value="{{ cc }}"
                                {% if cc == state.config.countryCode|upper %}selected="selected"{% endif %}>{{ country }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Update">
                {% endset %}
                {{ this.exec.replaceElementUsingForm( "validateVatNumber", "POST", validateFormBody, "component-basket", "vatNumberUpdate" ) }}
            </td>
        </tr>
    {% endif %}
    </tbody>
    <thead>
    <th>Quantity</th>
    <th>Description</th>
    <th>Net per item</th>
    <th>VAT per item</th>
    </thead>

</table>
    {% if ( state.readyForPaymentInfo() ) and (not state.complete) %}
    <div class="basketPaymentProviders">
        {% for provider in state.paymentProviderNames %}
            {{ component( provider ) }}
        {% endfor %}
    </div>
    {% elseif ( not state.readyForPaymentInfo() ) and (not state.complete) %}
    {# ... #}
{% else %}
    <span class="error">This transaction has been completed.</span>
{% endif %}


{{ state.outro }}
</div>