{% if this.flashMessage %}
    <strong>{{ this.flashMessage }}</strong>
    <br>
{% endif %}
{% if this.flashError %}
    <strong class="error">{{ this.flashError }}</strong>
    <br>
{% endif %}
{% if props.testMode %}
    <br><strong>TEST MODE</strong><br>
{% endif %}

{{ props.intro }}

<table class="basketTable">
    <thead>
    <th>Quantity</th>
    <th>Description</th>
    <th>Net per item</th>
    <th>VAT per item</th>
    </thead>
    <tbody>
    {% for lineItem in props.lineItems %}
        <tr>
            <td>{% if lineItem.quantity != null %}
                    {{ lineItem.quantity }}
                {% else %}
                    -
                {% endif %}</td>
            <td>{{ lineItem.description }}</td>
            <td>{{ lineItem.netPrice }}</td>
            <td>{{ lineItem.vatPerItem }}</td>
        </tr>
    {% endfor %}
    {% set validateFormBody %}
    <tr>
        <td>VAT number.
            <small>
                If you have a business VAT number please
                enter it here and indicate which country your business is based in.
            </small>
        </td>
        <td>
            <input type="text" name="vatNumber">
            <select name="countryCode">
                {% for cc,country in this.getVatCountries() %}
                    <option value="{{ cc }}">{{ country }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Set">
        </td>
    </tr>
    {% endset %}
    {{ this.exec.wrapForm( "validateVatNumber", "POST", validateFormBody ) }}
    </tbody>

</table>

{% if not props.complete %}
    {% for provider in props.paymentProviders %}
        {{ component( provider ) }}
    {% endfor %}
{% endif %}

{{ props.outro }}