{# @var this \PatternSeek\ECommerce\Stripe\Stripe #}
{# @var exec \PatternSeek\ComponentView\ExecHelper #}
{# @var state \PatternSeek\ECommerce\ViewState\StripeState #}

<style>
    #pnsk-stripe-working{
        color: blue;
        vertical-align: text-top;
        margin-left: 6px;
        display: none;
    }
</style>

<form id="payment-form">
    <div style="display: none;" id="formHide">
        
        <fieldset>
        <legend>{{ state.trans.card_details }}</legend>
            
            <span id="payment-request-element-wrapper" style="display: none">
                <div id="payment-request-element">
                    <!-- a Stripe Element will be inserted here. -->
                </div>
                <br>
            </span>


            <label for="card-element">
                {{ state.trans.credit_or_debit_card }}
            </label>
            <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors -->
            <div id="card-errors" role="alert" style="color: darkred"></div>
            <br>
        <input type="submit" id="pnsk-stripe-submit" value="{{ state.trans.submit_payment }}">
        <span id="pnsk-stripe-working">{{ state.trans.please_wait }}</span>
        </fieldset>
    </div>
</form>

{{ exec.wrapForm( "completion", 'POST', formBody, false, "completion-form" ) }}

