{# @var this \PatternSeek\ECommerce\Stripe #}
{# @var exec \PatternSeek\ComponentView\ExecHelper #}
{# @var state \PatternSeek\ECommerce\ViewState\StripeState #}
{% set formBody %}
<div style="display: none;" id="formHide">
    <fieldset>
        <legend>{{ state.trans.card_details }}</legend>

        <label for="card-element">
          {{ state.trans.credit_or_debit_card }}
        </label>
        <div id="card-element">
          <!-- a Stripe Element will be inserted here. -->
        </div>
    
        <!-- Used to display form errors -->
        <div id="card-errors" role="alert"></div>
        <br>
        <input type="submit" value="{{ state.trans.submit_payment }}">
    </fieldset>
</div>
{% endset %}
{{ exec.wrapForm( "submitForm", 'POST', formBody, false, "payment-form" ) }}

<script type="text/javascript">

    var tokenHandler = function (token) {
        var form = $('#payment-form');
        // Insert the token into the form so it gets submitted to the server
        form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
        // and re-submit
        form.get(0).submit();
    };

    jQuery(function ($) {
        
        var stripe = Stripe('{{ state.apiPubKey }}');
        var elements = stripe.elements();
        var card = elements.create(
            'card', 
            {
                hidePostalCode: true,
            }
        );
        card.mount('#card-element');
        $('#formHide').slideDown();
        
        $('#payment-form').submit(function (e) {
            $('.payment-errors').html("");
            var form = $(this);
            // Disable the submit button to prevent repeated clicks
            form.find('input[type="submit"]').prop('disabled', true);

            stripe.createToken(
                card, 
                {
                    'address_line1': '{{ state.address.addressLine1 }}',
                    'address_line2': '{{ state.address.addressLine2 }}',
                    'address_city': '{{ state.address.townOrCity }}',
                    'address_state': '{{ state.address.stateOrRegion }}',
                    'address_zip': '{{ state.address.postCode }}',
                    'address_country': '{{ state.address.countryString }}'
                }
            ).then(function(result) {
                if (result.error) {
                  // Inform the user if there was an error
                  var errorElement = document.getElementById('card-errors');
                  errorElement.textContent = result.error.message;
                  // Re-enable the form
                  form.find('input[type="submit"]').prop('disabled', false);
                } else {
                  // Send the token to your server
                  tokenHandler(result.token);
                }
              });
            return false;
        });

    });
</script>
